﻿@model VirtualAccountWebMvc.ViewModels.RegisterUserViewModel
@{
    Layout = "~Views/Shared/_Layout_0.cshtml";
}

<div class="container-fluid ">
    <div class="row" style="margin-top:100px;">
        <div class="col-lg-3 col-md-6 col-sm-11 col-11 card p-4" style="margin-left:auto;margin-right:auto;">

            <h1 class="text-primary text-center">LOGIN</h1>

            <form asp-action="DoRegister">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <partial name="MessageView" model="Model"/>


                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" required/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" required/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" required/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <div class="float-end">
                        <button type="submit"
                                class="btn btn-primary btn-min-width d-flex align-items-center">
                            <div>
                                <i class="bi-key-fill" style="font-size:24px!important"></i>
                            </div>
                            <div class="ms-3">
                                Register
                            </div>

                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </form>
        </div>
    </div>
</div>