﻿@model VirtualAccountWebMvc.ViewModels.BaseViewModel
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">VirtualAccountWebMvc</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Main"
                           asp-route-t="@Model.t">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-area=""
                           asp-controller="TopUp"
                           asp-action="List"
                           asp-route-t="@Model.t">
                            TopUp
                        </a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-area=""
                           asp-controller="BankAccount"
                           asp-action="List"
                           asp-route-t="@Model.t">
                            Bank Account
                        </a>
                </ul>
            </div>
        </div>
    </nav>
</header>
