﻿@model VirtualAccountWebMvc.ViewModels.Login.LoginViewModel


<div class="container-fluid ">
    <div class="row" style="margin-top:100px;">
        <div class="col-lg-3 col-md-6 col-sm-11 col-11 card p-4" style="margin-left:auto;margin-right:auto;">

            <h1 class="text-primary text-center">USER LOGIN</h1>

            <form asp-action="Login"
                  asp-controller="Home"
                  asp-area=""
                  >

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @* <partial name="MessageView" model="Model"/>*@
                
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" type="email" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <div class="d-flex flex-row-reverse">
                        <div>
                            <button type="submit"
                                    class="btn btn-primary align-items-center btn-min-width">
                                <i class="bi-key-fill" style="font-size:24px!important"></i>
                                Login
                            </button>
                        </div>

                        <a asp-action="Register"
                           asp-controller="Home"
                           asp-area=""
                           class="btn btn-primary align-items-center btn-min-width">
                            <i class="bi-calendar2-week" style="font-size:24px!important"></i>
                            Daftar
                        </a>
                        
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
