﻿@model VirtualAccountWebMvc.ViewModels.BaseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="text-center">
    <h1 class="display-4">Welcome Virtual Account MVC</h1>
    <h2>Selamat Bertransaksi</h2>
   

</div>