﻿@using VirtualAccountWebMvc.ViewModels.Shared
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model VirtualAccountWebMvc.ViewModels.TopUp.CreateTopUpViewModel

@{
    Layout = "_Layout";
    var _formTitle = new FormTitleWithBackSaveViewModel()
    {
        BackAction = "List",
        Controller = "TopUp",
        t = Model.t,
    };

    bool isCreate()
    {
        return ViewBag.FormMode == "Create";
    }

    string action()
    {
        return isCreate() ? "Insert" : "Update";
    }
}

<div class="d-flex align-items-center">
    <div>
        <a asp-action="List"
           asp-route-t="@Model.t"

           class="btn" style="font-size:2rem;font-weight:bold;">
            <i class="bi-arrow-left" style="font-size:2.5rem!important"></i>
        </a>
    </div>
    <div>
        @if (isCreate())
        {
            <h1>TOP UP</h1>    
        }      
    </div>
</div>

    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">

            <form asp-action="@action()"  id="FormInsert">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="MessageView" model="Model"/>

            <input type="hidden" asp-for="t" name="t"/>

            <div class="form-group">
                <label asp-for="TopUpID" class="control-label"></label>
                <input asp-for="TopUpID" class="form-control" required />
                <span asp-validation-for="TopUpID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VirtualAccountID" class="control-label"></label>
                <input asp-for="VirtualAccountID" class="form-control" required/>
                <span asp-validation-for="VirtualAccountID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TopUpAmount" class="control-label"></label>
                <input asp-for="TopUpAmount" class="form-control" required/>
                <span asp-validation-for="TopUpAmount" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TopUpDate" class="control-label"></label>
                <input asp-for="TopUpDate" class="form-control" required/>
                <span asp-validation-for="TopUpDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankID" class="control-label"></label>
                <div class="d-flex align-items-center">
                    <div>
                        <input asp-for="BankID" class="form-control"/>    
                    </div>
                    <div>
                        <a type="button"
                           href="#"
                           class="btn btn-show-bank-account" 
                           id="btnShowBankAccount">
                            <i class="bi-search" style="font-size: 24px;"></i>
                        </a>
                        
                        <div class="modal fade" id="bankAccountLookup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="BankAccountLookupLabel">Cari Bank ID</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="bodyBankAccountLookup">
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <span asp-validation-for="BankID" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="BankID" class="control-label"></label>
                <input asp-for="BankID" class="form-control" required/>
                <span asp-validation-for="BankID" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" required/>
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankAccountNumber" class="control-label"></label>
                <input asp-for="BankAccountNumber" class="form-control" required/>
                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankAccountOwner" class="control-label"></label>
                <input asp-for="BankAccountOwner" class="form-control" required/>
                <span asp-validation-for="BankAccountOwner" class="text-danger"></span>
            </div>

            <div style="display: flex; align-items: center;margin-bottom: 20px;">
                <button class="btn btn-primary ms-2 btn-save"
                        type="submit">
                    <i class="bi-save" style="font-size:24px!important"></i>
                                TOPUP
                </button>
                
            </div>
        </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        const formInsert = $('#FormInsert');
        const actionType = $('input[name=ActionType]');
        const btnSave = $('.btn-save');

        const btnShowBankAccount = $('#btnShowBankAccount');
        const lkpBankAccount = $('#bankAccountLookup');
        const bodyBankAccountLookup = $('#bodyBankAccountLookup');
    

    $(document).ready(function (){

    btnShowBankAccount.click(function(){               
                
                const _t = '@Html.Raw(Model.t)';
                $.ajax('/BankAccount/Lookup/' + _t,
                { 
                    success : function (d) {
                        bodyBankAccountLookup.empty();                       
                        bodyBankAccountLookup.append(d);
                        lkpBankAccount.modal('show');
                        
                        $('.btn-select-bank-account').click(function (){
                            debugger
                            const _kodeBankAccount = $(this).data('id');
                            $('input[name=BankID]').val(_kodeBankAccount)                            
                            lkpBankAccount.modal('hide');
                        })
                    },
                    error : function (e) {
                        console.log(e)
                        
                    }
                })                  
            })  
            }
    </script>
}