﻿@using VirtualAccountWebMvc.ViewModels.Shared
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model VirtualAccountWebMvc.ViewModels.BankAccount.CreateBankAccountViewModel


@{
    Layout = "_Layout";
    var _formTitle = new FormTitleWithBackSaveViewModel()
    {
        BackAction = "List",
        Controller = "BankAccount",
        t = Model.t,
    };


    bool isCreate()
    {
        return ViewBag.FormMOde == "Create"; 
    }
    string action()
    {
        return isCreate() ? "Insert" : "Update";
    }
}
@*<<form asp-action="@(isCreate() ? "Insert" : "Update")">*@
@*    <partial name="FormTitleWithBackSave" model="_formTitle"/>*@

<div class="d-flex align-items-center">
    <div>
        <a asp-action="List"
           asp-route-t="@Model.t"

           class="btn" style="font-size:2rem;font-weight:bold;">
            <i class="bi-arrow-left" style="font-size:2.5rem!important"></i>
        </a>
    </div>
    <div>
        @if (isCreate())
        {
            <h1>Bank Account</h1>    
        }      
    </div>
</div>

    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">

            <form asp-action="@action()"  id="FormInsert">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="MessageView" model="Model"/>

            <input type="hidden" asp-for="t" name="t"/>

            <div class="form-group">
                <label asp-for="BankAccountID" class="control-label"></label>
                
               @* @if(!isCreate()) {
                    <input asp-for="BankAccountID" class="form-control" required readonly="readonly" />    
                }
                else
                {
                    <input asp-for="BankAccountID" class="form-control" required />
                }
                
                <span asp-validation-for="BankAccountID" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="VirtualAccountID" class="control-label"></label>
                <input asp-for="VirtualAccountID" class="form-control" required/>
                <span asp-validation-for="VirtualAccountID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankID" class="control-label"></label>
                <input asp-for="BankID" class="form-control" required/>
                <span asp-validation-for="BankID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankAccountNumber" class="control-label"></label>
                <input asp-for="BankAccountNumber" class="form-control" required/>
                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankAccountOwner" class="control-label"></label>
                <input asp-for="BankAccountOwner" class="form-control" required/>
                <span asp-validation-for="BankAccountOwner" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" required/>
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>

            <div style="display: flex; align-items: center;margin-bottom: 20px;">
                <button class="btn btn-primary ms-2 btn-save"
                        type="submit">
                    <i class="bi-save" style="font-size:24px!important"></i>
                                Add Bank Account
                </button>

            </form>
        </div>
    </div>

    @section Scripts
    {
        <script>
             const formInsert = $('#FormInsert');
             const actionType = $('input[name=ActionType]');
             const btnSave = $('.btn-save');
        </script>
    }