﻿@using VirtualAccountWebMvc.ViewModels.Shared
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model VirtualAccountWebMvc.ViewModels.BankAccount.ListBankAccountViewModel


@{
      Layout = "_Layout";
    var _formTitle = new FormTitleViewModel()
    {
        Title = "List Bank Account",
        Controller = "BankAccount",
        t = Model.t,
    };
}

<div class="d-flex align-items-center">
     <div>
        <a class="btn"
           asp-area=""
           asp-action="Create"
           asp-controller="BankAccount"
           asp-route-t="@Model.t">
            <i class="bi-plus-circle" style="font-size: 24px;"></i>
        </a>
    </div>
</div>

<div class="d-lg-block d-md-block d-sm-none d-none">

    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th scope="col">
            </th>
            <th>Bank Account ID</th>
            <th>Virtual Account ID</th>
            <th>Bank ID</th>
            <th>Bank Account Number</th>
            <th>Bank Account Owner</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>