﻿@using VirtualAccountWebMvc.ViewModels.Shared
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model VirtualAccountWebMvc.ViewModels.BankAccount.ListBankAccountViewModel


table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th scope="col">
        </th>
        <th>Bank ID</th>
        <th>Bank Account Number</th>
        <th>Bank Account Owner</th>
    </tr>
    </thead>
    <tbody >
    @foreach (var item in Model.BankAccounts)
        {
            <tr>
                <th scope="row">
                    <a class="btn btn-primary btn-select-bank-account"
                       data-id="@item.BankID">
                        Pilih
                    </a>
                </th>

                <td>@item.BankID</td>
                <td>@item.BankAccountNumber</td>
                <td>@item.BankAccountOwner</td>
            </tr>
        }
    </tbody>
</table>